.perfil-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.login-icon {
  font-size: 60px;
  margin-bottom: -10px;
}

.login-icon:hover {
  color: #6a33b8;
}
